.productDetails{
    margin-left: 300px;
    margin-top: 40px;
}
.RestarurntAdd{
    width:800px;
    height:250px;
    margin-top: 30px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    background: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px;
    border-radius: 20px;
}
.loactionTitle{
    max-width: 100%;
    padding: 20px;
    background-color: rgba(34, 186, 34, 0.59) ;
    color:#fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.loactionTitle p{
    color:#fff;
   padding-left: 20px;
}
.Rating{
    display: flex;
    padding: 20px;
}
.Rating p{
    color: #000;
    font-weight: 700;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 10px;
   
}
.star{
    background-color: rgb(14, 80, 32);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(14, 80, 32);
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    padding:5px 10px;
    border-radius: 5px;
}
.FoodList ul {

    list-style-type: none;
    padding-left: 20px;
}
.FoodList a{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.1px;
    color: rgb(255, 82, 0);
    padding-left: 5px;
}
.location{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
}
.locationquery{
    color:#000;
    font-weight:600 ;
}
.locationName{
    color:#c0c0c0;
    padding-left: 10px;
}
.descripition{
    padding-top:10px;
    padding-left: 20px;
}
