.RestaruntBox{
    margin-top: 130px;
    background-color: rgba(192, 192, 192, 0.059);
}
.Restarunt{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,400px),1fr));
    grid-gap: 20px;
    padding: 20px;
}
.RestaruntCard{
    width:340px;
    height:400px;
    border: 1px solid transparent !important;
    margin-left: 40px;
    /* background-color: #fff; */
    border-radius: 5px;
    padding:10px 10px 15px 10px;
    /* border: 1px solid #000; */
}

.RestaruntCard:hover{
    background-color: #fff;
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
    border-radius: 10px;
    cursor: pointer;
}
.RestaruntCard img{
    width: 100%;
    height:250px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.Restaruntcontent{
    display: flex;
    justify-content: space-between;
}
.Restaruntcontent h4{
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:grey;
    padding: 10px 0 0 10px
}
.Restaruntcontent p{
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(14, 80, 32);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.RestaruntCusines{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.RestaruntCusines h4{
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:grey;
    padding: 10px 0 0 10px
}
.RestaruntCusines p{
    color: rgba(54, 54, 54, 0.607);
    font-family: sans-serif;
    font-weight: 500;
    padding-top: 8px;
}
.cartBox{
    display: flex;
    justify-content: flex-end;
}
.cartBox button{
    margin-top: 10px;
    background-color: transparent;
    color: rgba(54, 54, 54, 0.607);
    outline: none;
    border:1px solid rgb(14, 80, 32);
    padding: 8px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.cartBox button:hover{
    background-color: rgb(14, 80, 32);
    color: rgb(255, 255, 255);
}
