.CartBg{
    max-width: 100%;
    height: auto;
    margin-left: 226px
}
.CartBox,.BillBox{
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  max-width: 1000px;
  margin: 5rem;
}
.CartComponent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    max-width:100%;
    height:150px;
    border-bottom: 1px solid #eee;
}
.CartImg img{
  width:150px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 20px;
}
.CartTitle h4{
  font-family: sans-serif;
  font-weight: 700;
}
.CartTitle h1,p{
  padding-top: 10px;
}
.updateBtn button{
    border:1px solid rgb(14, 80, 32);
    padding: 10px 10px;
    background-color: rgb(14, 80, 32);
    color: #fff;
    font-size: 11px;
}
.updateBtn span{
    border:1px solid rgb(14, 80, 32);
    padding: 10px 10px;
    background-color: rgb(14, 80, 32);
    color: #fff;
    font-size: 11px;
}
.BillDetail{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px 0;
}
.TotalPrice{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px 0;
}
.updatebutton{
  background-color: rgb(14, 80, 32);
  color:#fff;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(14, 80, 32);;
}
.removeBtn{
  margin-left: 30px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #e74a3b !important;
  color:#fff;
  border:1px solid #e74a3b;
  border-radius: 5px;
}
