.CartBg{
    max-width: 100%;
    height: auto;
    margin-left: 226px
}
.CartBox,.BillBox{
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 5rem;
}
.CartComponent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    max-width:100%;
    height:150px;
}
.CartImg img{
  width:100px;
  height: 250px;
  object-fit: contain;
}
.CartTitle h1,p{
  padding-top: 5px;
}
.updateBtn button{
    border:1px solid rgb(14, 80, 32);
    padding: 8px 10px;
    background-color: rgb(14, 80, 32);
    color: #fff;
    font-size: 13px;
}
.updateBtn span{
    border:1px solid rgb(14, 80, 32);
    padding: 8px 10px;
    background-color: rgb(14, 80, 32);
    color: #fff;
    font-size: 13px;
}
.BillDetail{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px 0;
}
.TotalPrice{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px 0;
}
